h1 {
	font-size: 36pt;
	font-weight: normal;
}

p {
	margin-top: 4px;
}
a {
	text-decoration: none;
	color: #4bbeff;
}

.smalltext {
	font-size: 10pt;
}

a:hover {
	background-color: #4bbeff;
	color: white;
}

.bm-body {
	padding: 32px;
}

/* header classes */

.bm-header {
	color: white;
	background-color: black;

	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 48px;
	
}

.bm-h-title {
	padding-left: 56px;
	
	background: url(../logo.png) center no-repeat;
	background-position: 0 72%; /* x-pos y-pos */
}

.bm-sub-header {
	font-size: 12pt;
	padding-left: 12px;
	color: gray;
}

/* mip count and system info classes */

.bm-mip-box {
	text-align: left;
	padding-right: 32px;
	border-right: 1px solid;
	
	width: 320px;
}

.bm-mip-count {
	font-size: 48pt;
	font-family: arial;
	text-align: center;
}

.bm-mip-box-foot {
	font-size: 8pt;
	text-align: right;
	margin-bottom: 6px;
}

.bm-recent-mips {
	padding-left: 32px;
	padding-right: 32px;
	border-left: 1px solid;
}

.bm-indent {
	margin-left: 12px;
	margin-top: 4px;
	margin-bottom: 6px;
	
	font-size: 10pt;
}

ol.bm-top-list {
	margin: 0;
	padding: 0;
	font-size: 9pt;
	list-style-position: inside;
}

.bm-top-mips {
	padding-left: 32px;
	padding-right: 32px;

}

/* footer classes */

.bm-footer {
	font-size: 8pt;
	text-align: center;
	background-color: black;
	color: gray;
	
	padding: 16px;
}

.bm-footer p {
	text-indent: 8px;
}

.bm-footer-col-head {
	display: block;
	font-size: 8pt;
	font-weight: bold;
}

.bm-footer-col {
	width: 30%;
	float: left;
	text-align: left;
	margin-right: 16px;
}

.bm-footer-row {
	width: 700px;
	margin: 0 auto;
}

.bm-sig {
	text-align: center;
	margin-top: 8px;
	color: gray;
}

/* submit form classes*/
.bm-form {
	margin-bottom: 16px;
	margin-top: 16px;
}
